.grid-bar {
width: 100%;
background-color: teal;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.topnav {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: teal;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: white;
    color:teal;
  }

.logo{ 
    float: left;
    width: 17px;
    height: 17px;
    
}

.jumbotron {
    position: relative;
}
.sea{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
@media screen and (min-width: 601px){
    .greetings{
        font-size: 30px;
    }

    .btn-daftar{
        font-size: 30px;
    }

    .bigwhat{
        height: 150px;
    }

    .aboutus img{
        width: 40%;
        padding: 0 5%;
    }
    
    .aboutus p{
        padding: 0 5%;
        align-self: center;
    }

    .ourmiss img{
        width: 40%;
        padding: 0 5%;
    }
    
    .ourmiss p{
        padding: 0 5%;
        align-self: center;
    }
}

@media screen and (max-width: 800px) {
    .greetings{
        font-size: 15px;
    }

    .btn-daftar{
        font-size: 15px;
    }

    .bigwhat{
        height: 200px;
    }

    .aboutus img{
        width: 80%;
        padding: 10%;
    }
    
    .aboutus p{
        padding: 0 10%;
        align-self: center;
    }

    .ourmiss img{
        width: 80%;
        padding: 10%;
    }
    
    .ourmiss p{
        padding: 0 10%;
        align-self: center;
    }

}

.greetings{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.btn-daftar{
    background-color: teal;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-weight: bold;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px 5px grey;
    opacity: 86%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-daftar:hover {
    background-color: white;
    color: teal;
    cursor: pointer;
  }

.content-1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.bigwhat{
    display: flex;
}

.what{
    flex-grow: 1;
    margin: 2%;
    padding: 2%;
    float: left;
    width: 25%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: teal;

}
#w1{float:left;}
#w3{float:right;}
#w2{display: inline-block;}


section h2, .content-1 h1, section p{
    text-align: center;
}

.content-2{
    display: flex;
    flex-direction: column;
    margin: 100px 10px;
    padding: 10px;
    background-color: #26ADB8;
    font-family: Arial, Helvetica, sans-serif;
}
article{
    flex-grow: 3;
}
aside{
    background-color: teal;
    flex-grow: 3;
}

.aboutus{
    display: grid;
    grid-template-columns: 70% 30%;
}

.ourmiss{
    display: grid;
    grid-template-columns: 30% 70%;
}
  
  .form-popup {
    display: none;
    position: absolute;
    font-weight: bold;
    top: 40%;
    left: 40%;
    bottom: 0;
  }
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 5%;
  }
  
  .form-container input[type=text], .form-container input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: teal;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: tomato;
  }
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }  


